$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

input[type=submit] {
  @extend .btn;
  @extend .btn-primary;
}

qr {
  clear: both;
}

.balance {
  margin-top: 0;
  text-align: center;
  @extend h1;
}

.address {
  text-align: center;
  @extend h5;
}

.pay {
  @extend .form-inline;
  @extend .col-xs-offset-4;
}
#pay-to {
  width: 210px;
}
